[submodule "radxa-orion-o6-cx5/edk2-cix"]
	path = radxa-orion-o6-cx5/edk2-cix
	url = https://github.com/radxa-pkg/edk2-cix
[submodule "radxa-orion-o6-cx5/linux-sky1"]
	path = radxa-orion-o6-cx5/linux-sky1
	url = https://github.com/radxa-pkg/linux-sky1.git
[submodule "qemu-amd-sev-snp-cc/containers"]
	path = qemu-amd-sev-snp-cc/containers
	url = https://github.com/tianocore/containers
[submodule "qemu-amd-sev-snp-cc/edk2"]
	path = qemu-amd-sev-snp-cc/edk2
	url = https://github.com/tianocore/edk2
[submodule "qemu-amd-sev-snp-cc/AMDSEV"]
	path = qemu-amd-sev-snp-cc/AMDSEV
	url = git@github.com:AMDESE/AMDSEV.git
